<p id="notice"><%= notice %></p>

<h1>Bulk Insert Lists</h1>

<%= link_to 'New Import', new_bulk_insert_list_path, id: 'new_import', remote: true %>

<table>
  <thead>
    <tr>
      <th>Created</th>
      <th>Books</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_insert_lists.each do |bulk_insert_list| %>
      <tr>
        <td><%= link_to bulk_insert_list.created_at, bulk_insert_list %></td>
        <td>
          <% isbns = bulk_insert_list.EAN13.split('; ') %>
          <% Isbn.where(value: isbns).to_a.map{ |i| i.book }.flatten.uniq.select{ |b| !b.approved }.first(10).each do |book| %>
            <%= link_to (book.images.attached? ? image_tag(book.images.first.variant(resize: '120x120', auto_orient: false).processed) : 'no image'), book %>
          <% end %>
        </td>
        <td><%= link_to 'Destroy', bulk_insert_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
