<%= form_for @book do |book_form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% @book.images.each do |image| %>
      <% if image.id %>
        <%= image_tag image.variant(resize: '300x300').processed %>
        <%= link_to 'Remove', delete_image_attachment_path(image),
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= book_form.label :images %>
    <%= book_form.file_field :images, multiple: true %>
  </div>
  </br>

  <%= render 'works', book: @book %>

  <div class="field">
    <%= book_form.label :title %>
    <%= book_form.text_field :title %>
  </div>

  <div class="field">
    <%= book_form.label :pages %>
    <%= book_form.number_field :pages %>
  </div>

  <div class="field">
    <%= book_form.label :year_published %>
    <%= book_form.number_field :year_published %>
  </div>

  <div class="field">
    <%= book_form.label :cover %>
    <%= text_field_tag "book[format][cover]", (@book.format.cover if @book.format) %>
  </div>

  <div class="field">
    <%= book_form.label :isbn %>
    <%= book_form.text_field :isbn %>
  </div>

  <div class="field">
    <%= book_form.label :volume %>
    <%= book_form.number_field :volume %>
  </div>

  <div class="field">
    <%= book_form.label :volumes %>
    <%= book_form.number_field :volumes %>
  </div>

  <div class="field">
    <%= book_form.label :price %>
    <%= book_form.text_field :price %>
  </div>

  <div class="field">
    <%= book_form.label :is_new %>
    <%= book_form.check_box :is_new %>
  </div>

  <div class="field">
    <%= book_form.label :condition %>
    <%= book_form.number_field :condition %>
  </div>

  <div class="field">
    <%= book_form.label :publisher %>
    <%= text_field_tag "book[publisher][name]", (@book.publisher.name if @book.publisher) %>
  </div>

  <div class="field">
    <%= book_form.label :serie %>
    <%= text_field_tag "book[serie][name]", (@book.serie.name if @book.serie) %>
  </div>

  <div class="field">
    <%= book_form.label :language %>
    <%= text_field_tag "book[language][name]", (@book.language.name if @book.language) %>
  </div>

  <div class="field">
    <%= book_form.label :circulation %>
    <%= book_form.text_field :circulation %>
  </div>

  <div class="field">
    <%= book_form.label :descriprion %>
    <%= book_form.text_area :descriprion %>
  </div>

  <div class="field">
    <%= book_form.label :quantity %>
    <%= book_form.number_field :quantity %>
  </div>

  <div class="field">
    <%= book_form.label :shelf %>
    <%= book_form.text_field :shelf %>
  </div>

  <div class="actions">
    <%= book_form.submit %>
  </div>
<% end %>
