<p id="notice"><%= notice %></p>

<p>
  <strong>Hash:</strong>
  <%= @book.hash_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<% @book.images.each do |image| %>
    <%= image_tag image.variant(resize: '300x300').processed %>
<% end %>

<p>
  <strong>Works:</strong>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">authors</th>
      <th scope="col">interpreters</th>
    </tr>
    </thead>
    <tbody>
    <% @book.works.each_with_index do |work, row| %>
      <tr>
        <th scope="row"><%= row + 1 %></th>
        <td><%= work.title %></td>
        <td><%= work.authors.map(&:name).join('; ') %></td>
        <td><%= work.interpreters.map(&:name).join('; ') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>


<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format.name if @book.format %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @book.volume %>
</p>

<p>
  <strong>Volumes:</strong>
  <%= @book.volumes %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Is new:</strong>
  <%= @book.is_new %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher.name if @book.publisher %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @book.serie.name if @book.serie %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language.name if @book.language %>
</p>

<p>
  <strong>Shelf:</strong>
  <%= @book.shelf %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
